@import url("jquery.mobile-1.4.5.min.css");
@import url("reset.css");
@import url("jquery.ripple.css");

/* CLEARFIX */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* FONTS */

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/raleway-light-webfont.eot');
    src: url('../fonts/raleway-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-light-webfont.woff2') format('woff2'),
         url('../fonts/raleway-light-webfont.woff') format('woff'),
         url('../fonts/raleway-light-webfont.ttf') format('truetype'),
         url('../fonts/raleway-light-webfont.svg#ralewaylight') format('svg');
    font-weight: 200;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/raleway-medium-webfont.eot');
    src: url('../fonts/raleway-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-medium-webfont.woff2') format('woff2'),
         url('../fonts/raleway-medium-webfont.woff') format('woff'),
         url('../fonts/raleway-medium-webfont.ttf') format('truetype'),
         url('../fonts/raleway-medium-webfont.svg#ralewaymedium') format('svg');
    font-weight: 400;
}
    
@font-face {
    font-family: 'Raleway';
    src: url('../fonts/raleway-regular-webfont.eot');
    src: url('../fonts/raleway-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-regular-webfont.woff2') format('woff2'),
         url('../fonts/raleway-regular-webfont.woff') format('woff'),
         url('../fonts/raleway-regular-webfont.ttf') format('truetype'),
         url('../fonts/raleway-regular-webfont.svg#ralewayregular') format('svg');
    font-weight: 500;
}
    
@font-face {
    font-family: 'Raleway';
    src: url('../fonts/raleway-semibold-webfont.eot');
    src: url('../fonts/raleway-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-semibold-webfont.woff2') format('woff2'),
         url('../fonts/raleway-semibold-webfont.woff') format('woff'),
         url('../fonts/raleway-semibold-webfont.ttf') format('truetype'),
         url('../fonts/raleway-semibold-webfont.svg#ralewaysemibold') format('svg');
    font-weight: 700;
}

/* ICON FONT */

@font-face {
	font-family: 'adts';
	src:url('../fonts/adts.eot?');
	src:url('../fonts/adts.eot?#iefix') format('embedded-opentype'),
		url('../fonts/adts.woff') format('woff'),
		url('../fonts/adts.ttf') format('truetype'),
		url('../fonts/adts.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'adts';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
    font-size: 25px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-plus:before {
    content: "\e60a";
    color: white;
}

.icon-back:before {
    content: "\e60b";
    color: white;
}

.icon-pin56:before {
    content: "\e606";
}

.icon-multiple25:before {
    content: "\e604";
}

.icon-mail87:before {
    content: "\e603";
}

.icon-wine65:before {
    content: "\e609";
    font-size: 1.3em;
}

.icon-chat110:before {
    content: "\e601";
    font-size: 1.3em;
}

.icon-warning34:before {
    content: "\e608";
    font-size: 1.3em;
    margin-left: 5px;
}

/* NAVBAR */

div[data-role="page"] header {
    background-color: #51b0c5;
    font-family: Raleway, Arial, sans-serif;
    font-weight: 200;
    font-size: 18px;
    color: white;
    height: 60px;
    padding: 0 20px;
}

.navbarbtn {
    width: 40px;
    height: 60px;
    margin: 0 10px 0 -10px;
    line-height: 60px;
    text-align: center;
    float: left;
}

div[data-role="page"] header h1 ~ a .navbarbtn {
    float: right;
    margin-right: 0;
}

div[data-role="page"] header h1 {
    max-width: calc(100vw - 120px);
    height: 60px;
    line-height: 60px;
    float: left;
    
    /* Line break */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*************** Event Lijst *************/

.ui-content {
    min-height: calc(100vh - 100px);
    background-color: #dfdfde;
    padding: 20px;
}

.event {
    position: relative;
    width: 100%;
    height: 150px;
    display: block;
    margin: 0 auto 20px auto;
    overflow: hidden; /* Prevent margin-collapsing */
    border-radius: 5px;
    color: white;
    font-family: 'Raleway';
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.background {
    background-image: url(../eventBackground.jpg);
    background-size: 100%;
    background-position: 50%;
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
}

.event h2 {
    position: absolute;
    bottom: 42px;
    padding-left: 15px;
    font-size: 1.2em;
    font-weight: 100;
}

.event footer {
    color: black;
    position: absolute;
    bottom: 0;
    width: calc(100% - 15px);
    height: 35px;
    line-height: 35px;
    padding-left: 15px;
    background-color: rgba(255,255,255,0.85);
}

.evt-photos, .evt-people {
    color: #e84746;
    font-size: 18px;
    height: 35px;
    display: block;
    float: right;
    padding-right: 15px;
}

.evt-photos:before {
	content: "\e600";
    font-family: 'adts';
    font-size: 20px;
    padding-right: 6px;
}

.evt-people:before {
	content: "\e604";
    font-family: 'adts';
    font-size: 20px;
    padding-right: 6px;
}

/************** Event Feed ****************/

.eventHeader {
    background-image: url(../eventBackground.jpg);
    background-size: cover;
    font-family: 'Raleway';
    color: white;
    width: 100%;
    padding: 20px;
    margin-top: -20px;
    margin-left: -20px;
}

.eventHeader h1 {
    text-rendering: optimizeLegibility;
    font-size: 1.6em;
    font-weight: 200;
}

.eventHeader h2 {
    margin-top: 20px;
    font-weight: 200;
}

.eventHeader h2 span{
    font-size: 1em;
}

.spanHeaderRight{
    float: right;
    margin-left: 10px;
}

.boodschapFeed{
    font-family: 'Raleway';
    float: left;
    width: 90%;
    margin-top: 15px;
    padding: 5%;
    background-color: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    -moz-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.boodschapFeed div{
    color: white;
    text-align: center;
    float: left;
    line-height: 2;
    background-color: #e94540;
    width: 30px;
    height: 30px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
}

.boodschapFeed h1{
    line-height: 2;
    margin-left: 40px;
}

.boodschapFeed time{
    float: right;
}

.boodschapFeed p{
    width: 100%;
    margin-top: 15px;
}

.boodschapFeed img{
    margin-top: 10px;
    width: 110%;
    margin-left: -5%
}

.boodschapFeed footer{
    margin-top: 10px;
}

.boodschapFeed footer span{
    font-size: 0.9em;
}

.fab{
    text-align: center;
    position: fixed;
    bottom: 20px;
    z-index: 9999;
    background-color: #51afc5;
    width: 60px;
    height: 60px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    margin: 0 auto;
    left: 50%;
    margin-left: -30px;
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    -moz-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.fab span{
    line-height: 2.4;
}